@media only screen and (max-width: 768px) {
    .hero .nav-bar {
        display: none !important;
        align-items: center;
    }
    .hero .nav-bar .nav-links a {
        text-decoration: none !important;
        gap: 30px !important;
    }
    .hero .nav {
        display: flex;
        background-color: #498a6a;
        align-items: center !important;
        justify-content: space-between;
        padding: 0.3rem 0rem;
        color: white;
        position: fixed;
        z-index: 1 !important;
        width: 100vw !important;
    }
    .hero header {
        clip-path: none !important;
    }
}